@import "bootstrap";

.forms {
	padding-top: 20px;
	text-align: center;
}

td, th{
	padding-left: 10px;
	padding-right: 10px;
}

.logo {
	height: 100px;
}

.restInfo {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
}

.orderItem, .menuItem {
	padding-top: 5px;
	padding-bottom:5px;
}

.restView {
	text-align: center;
}

.dividerLine {
	width: 250px;

}

.orderList{
	text-align: center;
 
    max-height: 270px;
    overflow-y: scroll;
}

.menuList{
	text-align: center;
 
    max-height: 290px;
    overflow-y: scroll;
}