@import "bootstrap";

.forms {
	padding-top: 50px;
	text-align: center;
}

td, th{
	padding-left: 10px;
	padding-right: 10px;
}

.logo {
	height: 100px;
}

.restInfo {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
}

.orderItem, .menuItem {
	padding-top: 5px;
	padding-bottom:5px;
}

.restView {
	text-align: center;
}

.dividerLine {
	width: 250px;

}